<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:metrics="http://www.ryantenney.com/schema/metrics"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.ryantenney.com/schema/metrics http://www.ryantenney.com/schema/metrics/metrics.xsd">

	<!-- allows for ${} replacement in the spring xml configuration from the system.properties file on the classpath -->
    <context:property-placeholder location="classpath:/config.properties" />

	<!-- enables annotation based configuration -->
	<context:annotation-config />

	<!-- scans for annotated classes  -->
    <context:component-scan base-package="com.ohadr" />


    <metrics:metric-registry id="metricRegistry"/>

    <metrics:annotation-driven metric-registry="metricRegistry" proxy-target-class="false" expose-proxy="true"/>

    <metrics:reporter type="jmx" metric-registry="metricRegistry" domain="uaeMetrics"/>

    <metrics:register metric-registry="metricRegistry">
        <bean metrics:name="jvm.gc" class="com.codahale.metrics.jvm.GarbageCollectorMetricSet"/>
        <bean metrics:name="jvm.memory" class="com.codahale.metrics.jvm.MemoryUsageGaugeSet"/>
        <bean metrics:name="jvm.thread-states" class="com.codahale.metrics.jvm.ThreadStatesGaugeSet"/>
    </metrics:register>

</beans>